.button_example{
    border:1px solid #8bcf54; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(134,255,41,0.3);font-weight:bold; color: #FFFFFF;
    background-color: #a9db80; background-image: -webkit-gradient(linear, left top, left bottom, from(#a9db80), to(#96c56f));
    background-image: -webkit-linear-gradient(top, #a9db80, #96c56f);
    background-image: -moz-linear-gradient(top, #a9db80, #96c56f);
    background-image: -ms-linear-gradient(top, #a9db80, #96c56f);
    background-image: -o-linear-gradient(top, #a9db80, #96c56f);
    background-image: linear-gradient(to bottom, #a9db80, #96c56f);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a9db80, endColorstr=#96c56f);
}

.button_example:hover{  
    border:1px solid #74bf36;
    background-color: #8ed058; 
    background-image: -webkit-gradient(linear, left top, left bottom, from(#8ed058), to(#7bb64b));
    background-image: -webkit-linear-gradient(top, #8ed058, #7bb64b);
    background-image: -moz-linear-gradient(top, #8ed058, #7bb64b);
    background-image: -ms-linear-gradient(top, #8ed058, #7bb64b);
    background-image: -o-linear-gradient(top, #8ed058, #7bb64b);
    background-image: linear-gradient(to bottom, #8ed058, #7bb64b);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#8ed058, endColorstr=#7bb64b);
}

/* Default button styling - this applies to all anchors with the .button class */
.button {
    display: block; 
    font-size: 12px; 
    text-decoration: none!important; 
    font-family: Helvetica, Arial, sans serif;
    padding: 8px 12px; 
    border-radius: 3px; 
    -moz-border-radius: 3px; 
    box-shadow: inset 0px 0px 2px #fff;
    -o-box-shadow: inset 0px 0px 2px #fff;
    -webkit-box-shadow: inset 0px 0px 2px #fff;
    -moz-box-shadow: inset 0px 0px 2px #fff;
}
.button:active {
    box-shadow: inset 0px 0px 3px #999;
    -o-box-shadow: inset 0px 0px 3px #999;
    -webkit-box-shadow: inset 0px 0px 3px #999;
    -moz-box-shadow: inset 0px 0px 3px #999;
}

/* The styles for the grey button */
.grey {
    color: #444;
    border: 1px solid #d0d0d0;
    background-image: -moz-linear-gradient(#ededed, #e1e1e1);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e1e1e1), to(#ededed));
    background-image: -webkit-linear-gradient(#ededed, #e1e1e1);
    background-image: -o-linear-gradient(#ededed, #e1e1e1);
    text-shadow: 1px 1px 1px #fff;
    background-color: #e1e1e1;
}

.grey:hover {
    border: 1px solid #b0b0b0;
    background-image: -moz-linear-gradient(#e1e1e1, #ededed);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ededed), to(#e1e1e1));
    background-image: -webkit-linear-gradient(#e1e1e1, #ededed);
    background-image: -o-linear-gradient(#e1e1e1, #ededed);
    background-color: #ededed;
}
.grey:active {border: 1px solid #666;}

/* The styles for the red button */
.red {
    color: #923c47;
    border: 1px solid #d96d7c;
    background-image: -moz-linear-gradient(#f997b0, #f6677b);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f6677b), to(#f997b0));
    background-image: -webkit-linear-gradient(#f997b0, #f6677b);
    background-image: -o-linear-gradient(#f997b0, #f6677b);
    text-shadow: 1px 1px 1px #fdbcc7;
    background-color: #f6677b;
}
.red:hover {
    border: 1px solid #c75964;
    background-image: -moz-linear-gradient(#f6677b, #f997b0);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f997b0), to(#f6677b));
    background-image: -webkit-linear-gradient(#f6677b, #f997b0);
    background-image: -o-linear-gradient(#f6677b, #f997b0);
    background-color: #f997b0;
}
.red:active {border: 1px solid #ab3e4b;}

/* The styles for the blue button */
.blue {
    color: #41788c;
    border: 1px solid #6fb1c7;
    background-image: -moz-linear-gradient(#aae5f7, #73d0f1);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#73d0f1), to(#aae5f7));
    background-image: -webkit-linear-gradient(#aae5f7, #73d0f1);
    background-image: -o-linear-gradient(#aae5f7, #73d0f1);
    text-shadow: 1px 1px 1px #bfeafb;
    background-color: #73d0f1;
}
.blue:hover {
    border: 1px solid #4690ad;
    background-image: -moz-linear-gradient(#73d0f1, #aae5f7);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#aae5f7), to(#73d0f1));
    background-image: -webkit-linear-gradient(#73d0f1, #aae5f7);
    background-image: -o-linear-gradient(#73d0f1, #aae5f7);
    background-color: #aae5f7;
}
.blue:active {border: 1px solid #3b778b;}

/* The styles for the green button */
.green {
    color: #5a742d;
    border: 1px solid #95b959;
    background-image: -moz-linear-gradient(#cae387, #a5cb5e);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a5cb5e), to(#cae387));
    background-image: -webkit-linear-gradient(#cae387, #a5cb5e);
    background-image: -o-linear-gradient(#cae387, #a5cb5e);
    text-shadow: 1px 1px 1px #dff4bc;
    background-color: #a5cb5e;
}
.green:hover {
    border: 1px solid #687e30;
    background-image: -moz-linear-gradient(#a5cb5e, #cae387);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cae387), to(#a5cb5e));
    background-image: -webkit-linear-gradient(#a5cb5e, #cae387);
    background-image: -o-linear-gradient(#a5cb5e, #cae387);
    background-color: #cae387;
}
.green:active {border: 1px solid #506320;}

/* The styles for the black button */
.black {
    color: #fff;
    border: 1px solid #4d4d4d;
    background-image: -moz-linear-gradient(#656565, #454545);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#454545), to(#656565));
    background-image: -webkit-linear-gradient(#656565, #454545);
    background-image: -o-linear-gradient(#656565, #454545);
    text-shadow: 1px 1px 1px #6d6d6d;
    background-color: #454545;
}
.black:hover {
    border: 1px solid #363636;
    background-image: -moz-linear-gradient(#454545, #656565);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#656565), to(#454545));
    background-image: -webkit-linear-gradient(#454545, #656565);
    background-image: -o-linear-gradient(#454545, #656565);
    background-color: #656565;
}
.black:active {border: 1px solid #000;}

/* The styles for the yellow button */
.yellow {
    color: #986a39;
    border: 1px solid #e6b650;
    background-image: -moz-linear-gradient(#ffd974, #febf4d);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#febf4d), to(#ffd974));
    background-image: -webkit-linear-gradient(#ffd974, #febf4d);
    background-image: -o-linear-gradient(#ffd974, #febf4d);
    text-shadow: 1px 1px 1px #fbe5ac;
    background-color: #febf4d;
}
.yellow:hover {
    border: 1px solid #c1913d;
    background-image: -moz-linear-gradient(#febf4d, #ffd974);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffd974), to(#febf4d));
    background-image: -webkit-linear-gradient(#febf4d, #ffd974);
    background-image: -o-linear-gradient(#febf4d, #ffd974);
    background-color: #ffd974;
}
.yellow:active {border: 1px solid #936b26;}

/* The styles for the purple button */
.purple {
    color: #7e5d7c;
    border: 1px solid #cd93c6;
    background-image: -moz-linear-gradient(#e9c4e3, #d798d1);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d798d1), to(#e9c4e3));
    background-image: -webkit-linear-gradient(#e9c4e3, #d798d1);
    background-image: -o-linear-gradient(#e9c4e3, #d798d1);
    text-shadow: 1px 1px 1px #f1ceef;
    background-color: #d798d1;
}
.purple:hover {
    border: 1px solid #886382;
    background-image: -moz-linear-gradient(#d798d1, #e9c4e3);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e9c4e3), to(#d798d1));
    background-image: -webkit-linear-gradient(#d798d1, #e9c4e3);
    background-image: -o-linear-gradient(#d798d1, #e9c4e3);
    background-color: #e9c4e3;
}
.purple:active {border: 1px solid #6a4664;}

/* The styles for the greyblue button */
.gblue {
    color: #57646d;
    border: 1px solid #929ba2;
    background-image: -moz-linear-gradient(#bbcbd8, #8ea5b5);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#8ea5b5), to(#bbcbd8));
    background-image: -webkit-linear-gradient(#bbcbd8, #8ea5b5);
    background-image: -o-linear-gradient(#bbcbd8, #8ea5b5);
    text-shadow: 1px 1px 1px #c6d4df;
    background-color: #8ea5b5;
}
.gblue:hover {
    border: 1px solid #656f78;
    background-image: -moz-linear-gradient(#8ea5b5, #bbcbd8);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bbcbd8), to(#8ea5b5));
    background-image: -webkit-linear-gradient(#8ea5b5, #bbcbd8);
    background-image: -o-linear-gradient(#8ea5b5, #bbcbd8);
    background-color: #bbcbd8;
}
.gblue:active {border: 1px solid #434f5a;}

/* The styles for the button groups */

.left {
    border-top-right-radius: 0px;
    -moz-border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    -moz-border-bottom-right-radius: 0px;
    border-right: 0px;
}
.left:hover {
    border-right: 0px;
}
.middle {
    border-radius: 0px;
    -moz-radius: 0px;
    border-right: 0px;
}
.middle:hover {
    border-right: 0px;
}
.right {
    border-top-left-radius: 0px;
    -moz-border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    -moz-border-bottom-left-radius: 0px;
}

/* Large Styles */

.large {padding: 14px 28px;}

/* black */
.black {
    color: #d7d7d7;
    border: solid 1px #333;
    background: #333;
    background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000));
    background: -moz-linear-gradient(top,  #666,  #000);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000');
}
.black:hover {
    background: #000;
    background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#000));
    background: -moz-linear-gradient(top,  #444,  #000);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#000000');
}
.black:active {
    color: #666;
    background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#444));
    background: -moz-linear-gradient(top,  #000,  #444);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#666666');
}
/* green */
.green {
    color: #e8f0de;
    border: solid 1px #538312;
    background: #64991e;
    background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
    background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
}
.green:hover {
    background: #538018;
    background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
    background: -moz-linear-gradient(top,  #6b9d28,  #436b0c);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
}
.green:active {
    color: #a9c08c;
    background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
    background: -moz-linear-gradient(top,  #4e7d0e,  #7db72f);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f');
}
/* rosy */
.rosy {
    color: #fae7e9;
    border: solid 1px #b73948;
    background: #da5867;
    background: -webkit-gradient(linear, left top, left bottom, from(#f16c7c), to(#bf404f));
    background: -moz-linear-gradient(top,  #f16c7c,  #bf404f);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f16c7c', endColorstr='#bf404f');
}
.rosy:hover {
    background: #ba4b58;
    background: -webkit-gradient(linear, left top, left bottom, from(#cf5d6a), to(#a53845));
    background: -moz-linear-gradient(top,  #cf5d6a,  #a53845);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#cf5d6a', endColorstr='#a53845');
}
.rosy:active {
    color: #dca4ab;
    background: -webkit-gradient(linear, left top, left bottom, from(#bf404f), to(#f16c7c));
    background: -moz-linear-gradient(top,  #bf404f,  #f16c7c);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#bf404f', endColorstr='#f16c7c');
}

/* orange */
.orange {
    color: #fef4e9;
    border: solid 1px #da7c0c;
    background: #f78d1d;
    background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
    background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
    background: #f47c20;
    background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
    background: -moz-linear-gradient(top,  #f88e11,  #f06015);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
    color: #fcd3a5;
    background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
    background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}

/* white */
.white {
    color: #606060;
    border: solid 1px #b7b7b7;
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
    background: -moz-linear-gradient(top,  #fff,  #ededed);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
.white:hover {
    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
    background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}
.white:active {
    color: #999;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
    background: -moz-linear-gradient(top,  #ededed,  #fff);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}
table {
    width: 100%;
    color: #212424;
    margin: 0 0 1em 0;	
    font: 80%/150% "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Lucida, Helvetica, sans-serif;
}
table, tr, th, td {
    margin: 0;
    padding: 0;
    border-spacing: 0;
    border-collapse: collapse;
}
caption {
    width: 100%;
    height: 39px;
    font-size: 0;
    line-height: 0;
    text-indent: -5000em;
    background: url(http://taimar.pri.ee/examples/table-design/caption.gif) no-repeat 98% 0;
}
caption:hover {
    background-position: 98% 100%;
}

/* HEADER */

thead {
    background: #524123;
}
thead tr th {
    padding: 1em 0;
    text-align: center;
    color: #FAF7D4;
    border-bottom: 3px solid #A5D768;
}

/* FOOTER */

tfoot {
    color: #fff;
    background: #524123;
}
tfoot tr th, tfoot tr td {
    padding: .2em .6em;
    border-top: 2px solid #A5D768;
}
tfoot tr th {
}
tfoot tr td {
    text-align: right;
}

/* BODY */

tbody tr td {
    background: #DDF0BD url(http://taimar.pri.ee/examples/table-design/bg_cell.gif) no-repeat top left;
}
tbody tr.odd td {
    background-color: #D0EBA6;
}
tbody tr td:hover, tbody tr.odd td:hover {
    background: #c5e894;
}
tbody tr th, tbody tr td {
    padding: 0.1em 0.4em;
    border: 1px solid #a6ce39;
}
tbody tr th {
    padding-right: 1em;
    text-align: right;
    font-weight: normal;
    background: #c5e894 url(http://taimar.pri.ee/examples/table-design/bg_cell.gif) no-repeat top left;
    text-transform: uppercase;
}
tbody tr th:hover {
    background: #D0EBA6;
}
table a[href*="taimar.pri.ee"] {
    float: left;
    width: 64px;
    height: 64px;
    font-size: 0;
    text-decoration: none;
    background: transparent url(http://taimar.pri.ee/examples/table-design/taimar.gif) no-repeat 0 0;
}
table a[title^="Download"] {
    float: none;
    width: auto;
    height: auto;
    font-size: 100%;
    background: none;
}

/* LINKS */

table a {
    color: #854400;
    text-decoration: none;
}
table a:visited {
    text-decoration: line-through;
}
table a:hover {
    text-decoration: underline;
}
#xxxx{
    position:absolute;
    top:0;
    padding:1px;
    height: 300px;
    bottom:0;
    right:0;
}

.labelInfoClient{
    float:left;
    width:60px;

    text-align:right;
    font-weight:bold;
}

.inputCSS{
    width: 50px;

    text-align:right;
    font-weight:bold;
}
.inputCSSInfoPersonal{
    width: 250px;
    padding: 6px 2px;
    margin: 1px 0;
    border: 1px solid yellow;
    border-radius: 4px;
}

.inputCSSDir{
   width: 240px;
    padding: 6px 2px;
    margin: 1px 0;
    border: 1px solid yellow;
    border-radius: 4px;
}

.inputCSSReserva{
   width: 100px;
    padding: 6px 2px;
    margin: 1px 0;
    border: 1px solid yellow;
    border-radius: 4px;
}
.inputCSSHora{
   width: 30px;
    padding: 6px 2px;
    margin: 1px 0;
    border: 1px solid yellow;
    border-radius: 4px;
}
.inputCSSCarros{
   width: 50px;
    padding: 6px 2px;
    margin: 1px 0;
    border: 1px solid yellow;
    border-radius: 4px;
}
.inputCSSVale{
   width: 100px;
    padding: 6px 2px;
    margin: 1px 0;
    border: 1px solid yellow;
    border-radius: 4px;
}
.inputCSSChVale{
    width: 10px;
    padding: 6px 2px;
    margin: 1px 0;
    border: 1px solid yellow;
    border-radius: 4px;
}
#caja_flotante{
    position:absolute; 
    height: 270px;
    width: 200px;
    padding:0; margin:0;
    position: fixed;
    right: 0;
    bottom: 0;
    background-color:#D0EBA6;

}
#caja_flotante2{
    left: 170px; /* o le damos un valor para separarlo del borde izquierdo de la ventana */
    position: absolute;
    top: 0; 
    height: 300px;
    bottom: 0;
    width: 200px;
    padding:0; margin:0;
    position: fixed;
}