.taxt1{
    font-size: 35px;
    font-family: "Berlin Sans FB Demi", "Book Antiqua", Palatino, serif;
    color: #01458E;
}
.taxt2{
    font-size: 16px;
    font-family: "Berlin Sans FB Demi", "Book Antiqua", Palatino, serif;
    color: #01458E;
}
.taxt3{
    font-size: 13px;
    font-family: "Berlin Sans FB Demi", "Book Antiqua", Palatino, serif;
}
.fieldset {
    background-image: url(../fondo_botton_pidaT/fondo1.png);
    border-radius: 5px;
    border: 2px solid #cccccc;
    text-align: left;
    width: 590px;
    background-repeat: repeat-x;
    background-position: bottom;
    padding:0;
    position: relative;
}
.legend {
    border-radius: 10px 0px 10px 0px;
    font-family: "Berlin Sans FB Demi", "Book Antiqua", Palatino, serif;
    font-size: 16px;
    color: #01458E;

    background-color: #dee51b;
    border: 2px solid #cccccc;
    border-radius: 5px ;
    padding:0;
}
.bottonpidaT{
    background-color: transparent;
    background-image: url(../fondo_botton_pidaT/fond_bottonpidaT.png);
    border: solid 0px transparent;
    cursor: pointer;
    font-size: 20px;
    color: #DEE51B;
    font-family: "Berlin Sans FB Demi", "Book Antiqua", Palatino, serif;
    height: 46px;
    width: 386px;
    text-align: center;
}
.bottonpidaT:hover{
    color: #ffffff;
}
.bottonSolpidaT{
    background-color: transparent;
    background-image: url(../fondo_botton_pidaT/fondo_botton_pidaT.png);
    border: solid 0px transparent;
    cursor: pointer;
    font-size: 13px;
    color: #DEE51B;
    font-family: "Berlin Sans FB Demi", "Book Antiqua", Palatino, serif;
    height: 27px;
    width: 154px;
    text-align: right;
}
.bottonSolpidaT:hover{
    color: #ffffff;
}
.bottonActpidaT{
    background-color: transparent;
    background-image: url(../fondo_botton_pidaT/fondo_botton_Act_pidaT.png);
    border: solid 0px transparent;
    cursor: pointer;
    font-size: 13px;
    color: #DEE51B;
    font-family: "Berlin Sans FB Demi", "Book Antiqua", Palatino, serif;
    height: 27px;
    width: 154px;
    text-align: center;
}
.bottonActpidaT:hover{
    color: #ffffff;
}
.bottonGuarpidaT{
    background-color: transparent;
    background-image: url(../fondo_botton_pidaT/fondo_botton_Guar_pidaT.png);
    border: solid 0px transparent;
    cursor: pointer;
    font-size: 13px;
    color: #DEE51B;
    font-family: "Berlin Sans FB Demi", "Book Antiqua", Palatino, serif;
    height: 27px;
    width: 140px;
    text-align: right;
}
.bottonGuarpidaT:hover{
    color: #ffffff;
}
.bottonLimpidaT{
    background-color: transparent;
    background-image: url(../fondo_botton_pidaT/fondo_botton_Lim_pidaT.png);
    border: solid 0px transparent;
    cursor: pointer;
    font-size: 13px;
    color: #DEE51B;
    font-family: "Berlin Sans FB Demi", "Book Antiqua", Palatino, serif;
    height: 26px;
    width: 85px;
    text-align: right;
}
.bottonLimpidaT:hover{
    color: #ffffff;
}
.bottonLanzapidaT{
    background-color: transparent;
    background-image: url(../fondo_botton_pidaT/fondo_botton_Lanza_pidaT.png);
    border: solid 0px transparent;
    cursor: pointer;
    font-size: 13px;
    color: #DEE51B;
    font-family: "Berlin Sans FB Demi", "Book Antiqua", Palatino, serif;
    height: 26px;
    width: 85px;
    text-align: right;
}
.bottonLanzapidaT:hover{
    color: #ffffff;
}
.campos{
    border-radius: 10px 0px 10px 0px;
    font-family: "Berlin Sans FB Demi", "Book Antiqua", Palatino, serif;

    color: #999999;
}



